# PyCharm files
.idea/
__pycache__/
*.pyc

# Folders
examples/
translator/
visuals_mechanics/test

# Files
test.py

# Ignore All
.ipynb_checkpoints/
.DS_STORE

# EM
JSON_data/

visuals_maths/lib/MathJax/
