{% extends "layout.html" %}

{% block title %}
    Unregister
{% endblock %}

{% block main %}
    <form action="{{ url_for('unregister') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="confirm_pass" placeholder="Confirm Password" type="password"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Unregister</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
