.rightnav{
    right: 0;
    top: 20vh;
    width: 8vh;
    height: 30vh;
    background-color: #0091D4;
    color: #ffffff; /* Text colour */
    opacity: 0.15;
    text-align: center;
    position: absolute;
    cursor: pointer;
}
.leftnav{
    left: 0;
    width: 8vh;
    top: 20vh;
    height: 30vh;
    background-color: #0091D4;
    color: #ffffff; /* Text colour */
    opacity: 0.15;
    text-align: center;
    cursor: pointer;
    position: absolute;
}