.rightnav{
    right: 2vh;
    top: 45vh;
    font-size: 50px;
    color:#330766;
    text-align: center;
    position: absolute;
    cursor: pointer;
}


.leftnav{
    left: 2vh;
    top: 45vh;
    font-size: 50px;
    color: #330766;
    text-align: center;
    cursor: pointer;
    position: absolute;
}

