.fraction, .top, .bottom {
    padding: 0 0px;
}

.fraction {
    display: inline-block;
    text-align: center;
}

.top{
}

.bottom{
    border-top: 3px solid #000;
    display: block;
    margin: 0 0 0 0;
}

table {
    border-collapse: collapse;
}
table td, table th {
    border: 1px solid black;
}
table tr:first-child th {
    border-top: 0;
}
table tr:last-child td {
    border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
    border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
    border-right: 0;
}